<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Page Title Goes Here</title>
  <meta name="description" content="Description Goes Here">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <h1> this is home page</h1>
  <h2>Author : {{author}}</h2>
  <h2>age : {{age}}</h2>
  <h2>{{lst}}</h2>

  {% comment %} conditional statments backend to frontend {% endcomment %}

    {% if age >= 20 %}
        <h4>You will get driving license</h4>
    {% elif age < 20 and age > 14 %}
        <h4>You are not allowed for driving license</h4>
    {% else %}
        <h4>You are kid</h4>
    {% endif %}

    {% comment %} for loop {% endcomment %}
    <div style="display:flex; gap: 20px">
        {% for i in courses%}
    <div style="display:flex;flex-direction: column;">
        <h3>{{i.id}} {{i.name}} {{i.fee}}</h3>
    </div>
    {%endfor%}
    </div>
</body>
</html>